body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: seashell;
  text-align: center;
}

.header {
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  margin-left: 10px;
}

.logo img {
  height: 50px;
}

.navigation nav a {
  text-decoration: underline;
  display: inline-block;
  margin: 0 16px;
}

.page {
  width: 1200px;
  margin: 0 auto;
}

.centralised {
  margin: 0 auto;
}

.clearfix {
  padding-top: 69px;
}

.mission-container {
  height: 700px;
  background-image: url('../images/img-mission-background.jpg');
  display: flex;
  align-items: center;
}

.mission-statement {
  flex-grow: 1;
  background-color: black;
}

.tea-container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured-teas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.featured-tea {
  margin: 0px 15px;
}

.featured-tea img {
  height: 200px;
  width: 300px;
}

.featured-tea h4 {
  margin-top: 10px;
}

.locations-container {
  height: 500px;
  background-image: url('../images/img-locations-background.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.locations-container .title h2 {
  margin-bottom: 15px;
}

.address-list {
  display: flex;
  justify-content: center;
}

.address {
  width: 300px;
  background-color: black;
  margin: 0px 20px;
}

.address {
  line-height: 2;
}

.footer {
  margin-top: 40px;
}

.contact {
  height: 200px;
}

.copyright h5 {
  text-align: left;
  padding-left: 20px;
}
